.form-card{
width:500px;
border-radius:10px;
overflow:hidden;
}

.card-header{
background:#343a40;
color:white;
font-weight:600;
text-align:center;
}

input{
border-radius:6px;
}

button{
margin-top:10px;
}